@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

#burger {
    background-color: rgb(42, 41, 41);
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burger:hover {
    background-color: white;
    color: rgb(59, 57, 57);
}

menu {
    display: none; 
}

menu > ul{
    list-style-type: none; /* Remove os marcadores da lista */
}

menu > ul > li > a {
    display: block; /* Faz com que o link ocupe toda a área do item da lista */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
    text-decoration: none; /* Remove o sublinhado dos links */
    text-align: center;
    background-color: rgb(87, 87 , 87); /* Cor de fundo para os links */
    color: white; /* Cor do texto dos links */
    border-top: 2px solid gray; /* adiciona uma borda superior para separar as opções do menu */
}

menu > ul > li > a:hover {
    background-color: gray; /* Cor de fundo ao passar o mouse */
}

main {
    width: 90vw; /* Define a largura do main como 90% da viewport */
    background-color: white;
    margin: auto; /* Centraliza o main horizontalmente */
    margin-top: 20px; /* Adiciona um espaço acima do main */
    padding: 10px; /* Adciona um pouco de espaço dentro do main */
    border-radius: 10px; /* Adiciona bordas arredondadas ao main */
}

article > h1 {
    padding-bottom: 10px; /* Adiciona um espaço abaixo do título do artigo */
}

article > p {
    text-align: justify; /* Justifica o Texto dos parágrafos */
    text-indent: 20px; /* Adiciona um recuo na primeira linha de cada parágrafo */
    line-height: 1.5; /* Aumenta o espaçamento entre as linhas para melhorar a legibilidade */
    margin-bottom: 20px; /* Adiciona um espaço abaixo de cada parágrafo */
}



