@charset "UTF-8";

/* Configurações gerais */
* {
    margin: 0px;
    padding: 0px;
}

/* Importação da fonte externa: Passion One e Sriracha*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
 :root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
 }

/* Configurações do html e do body */
html, body {
    background-color: dark;
    min-height: 100vh; /* Tamanho mínimo da altura da minha Viewport */
    font-family: var(--fonte1);
}

/* Configurações do cabeçalho */
header {
    background-color: black;
    color: white;
    text-align: center;
}

/* Configurações do título do cabeçalho*/
header > h1 {
    padding-top: 50px;
    font-variant: small-caps; /* Transforma as primeiras letras em Maiusculas*/
    font-family: var(--fonte2);
    font-size: 10vh; /* Para adaptar a fonte à 10% da viewport*/
}

/* Configuração do paragráfo do cabeçalho*/
header > p {
    padding-bottom: 50px;
}

/* Configuração do cursor do mouse sob o cabeçalho e rodapé */
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/* Configuração de todas as Sections*/
section {
    padding-top: 10vh; /* 10% da vh será de espaçamento no topo das sections*/
    padding-bottom: 10vh; /* 10% da vh será de espaçamento no rodapé das sections*/
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
    font-family: var(--fonte3);
}

section > p {
    padding-bottom: 2em;
}
/* Sections Normais*/
section.normal {
    background-color: white;
    color: black;
}

/* Sections de Imagem*/
section.imagem {
    background-color: rgb(39, 32, 32);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0, 0.514); /* sombra interna das sections de imagens */ 
    background-attachment: fixed; /* propriedade para deixar a imagem fixa em relação ao conteudo, formando o efeito parallax*/
}

/* Espaçamento entre cada paragráfo do section*/
section.imagem > p {
    display: inline-block; /* para adaptar o tamanho da caixa com o tamanho do conteudo */
    text-align: 1px 1px 0px rgb(0, 0, 0); /* Sombra do texto: 1px de deslocamento 1px lateral e vertical, 0 de espalhamento*/
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.253);
}

/* Configuração das Imagens do corpo do site*/
section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}
/* Configuração do Rodapé */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}